{% extends "layout.html" %}

{% block title %}MouseHunt Catalogue{% endblock %}

{% block body %}

  <div class="heading">
    <h1>Mouse Catalogue</h1>
  </div>
  <div class="mouse-group">
    <h2>Prologue Pond Prowlers</h2>
    This is not your typical fishing trip! These fresh water aquatic antagonists have a unique appetite for various types of clever but peculiar cheeses crafted from the items found in their pond. Make sure to load your boat with a hefty Hydro trap if you plan to venture out onto this precarious pond!
  </div>
  <div class="gallery">
    <div class="seend-stowers">
      <h2>Seed Stowers</h2>
      <img src="https://www.mousehuntgame.com/images/mice/large/d364f3ee91022ceb66d8ad26a480f0a6.jpg?cv=2" alt="land-loafer">
      <img src="https://www.mousehuntgame.com/images/mice/large/b46d565b79aa5add310d628016de8aef.jpg?cv=2" alt="root-rummager">
      <img src="https://www.mousehuntgame.com/images/mice/large/61c00767668702f9c148b496fe143e69.jpg?cv=2" alt="grit-grifter">
      <img src="https://www.mousehuntgame.com/images/mice/large/d3d75c5cd1768f0995ca1982b2f8fd56.jpg?cv=2" alt="crazed-cultivator">
    </div>
    <div class="petulant-pests">
      <h2>Petulant Pests</h2>
      <img src="https://www.mousehuntgame.com/images/mice/large/0667c59da142e4eea64424a6f07b664c.jpg?cv=2" alt="angry-aphid">
      <img src="https://www.mousehuntgame.com/images/mice/large/3487541f722987151dc7345eacb3c856.jpg?cv=2" alt="wily-weevil">
      <img src="https://www.mousehuntgame.com/images/mice/large/7f4317ae40d254889630c940ec4905b7.jpg?cv=2" alt="mighty-mite">
      <img src="https://www.mousehuntgame.com/images/mice/large/b6056a16c803bd470b25d82a79e044f2.jpg?cv=2" alt="loathsome-locust">
      <img src="https://www.mousehuntgame.com/images/mice/large/497d910b39925c077bf56ced8c9aca0c.jpg?cv=2" alt="monstrous-midge">  
    </div>
  </div>

{% endblock %}