{% extends "layout.html" %}

{% block title %}MouseHunt Catalogue{% endblock %}

{% block body %}

  <div class="heading">
    <h1>Mouse Catalogue</h1>
  </div>
  <div class="mouse-group">
    <h2>Prologue Pond Prowlers</h2>
    This is not your typical fishing trip! These fresh water aquatic antagonists have a unique appetite for various types of clever but peculiar cheeses crafted from the items found in their pond. Make sure to load your boat with a hefty Hydro trap if you plan to venture out onto this precarious pond!
  </div>
  <div class="gallery">
    <div class="grub-gatherers">
      <h2>Grub Gatherers</h2>
      <img src="https://www.mousehuntgame.com/images/mice/large/22f153c8478d40c097e8dc207008998d.jpg?cv=2" alt="beachcomber">
      <img src="https://www.mousehuntgame.com/images/mice/large/4f71c9d7d11a55bf7462ce17724e4cc3.jpg?cv=2" alt="sand-sifter">
      <img src="https://www.mousehuntgame.com/images/mice/large/97fcfa55f3d9a84f068c9ac3da516ae1.jpg?cv=2" alt="tackle-tracker">
      <img src="https://www.mousehuntgame.com/images/mice/large/16a8fbda97e07e007d655ab541dfae49.jpg?cv=2" alt="covetous-coastguard">
    </div>
    <div class="shallow-swimmers">
      <h2>Shallow Swimmers</h2>
      <img src="https://www.mousehuntgame.com/images/mice/large/bd46c7bea748e78a3348f23a667dc25a.jpg?cv=2" alt="pompous-perch">
      <img src="https://www.mousehuntgame.com/images/mice/large/db73501056f23ed3ae8362b570ab891c.jpg?cv=2" alt="careless-catfish">
      <img src="https://www.mousehuntgame.com/images/mice/large/ef2cced77eddfa0db9268b18e262a4b8.jpg?cv=2" alt="melodramatic-minnow">
      </div>
    <div class="deep-divers">
      <h2>Deep Divers</h2>
      <img src="https://www.mousehuntgame.com/images/mice/large/0d92f27a3fd962a3f4fab1afa9c86ef8.jpg?cv=2" alt="sinister-squid">
      <img src="https://www.mousehuntgame.com/images/mice/large/7fba8de76a63350dc420140e254015e3.jpg?cv=2" alt="nefarious-nautilus">
      <img src="https://www.mousehuntgame.com/images/mice/large/4998c88cfe2e30c538d71554b98a8a09.jpg?cv=2" alt="vicious-vampire-squid">
      <img src="https://www.mousehuntgame.com/images/mice/large/a87647abc45ccb1a2c493d0292943aa8.jpg?cv=2" alt="architeuthulhu-of-the-abyss">
    </div>
  </div>

{% endblock %}