{% extends "layout.html" %}

{% block title %}MouseHunt Catalogue{% endblock %}

{% block body %}

  <div class="heading">
    <h1>Mouse Catalogue</h1>
  </div>
  <div class="mouse-group">
    <h2>Storytellers</h2>
    This collection of creative characters is composed of the greatest authors ever to walk on four legs in addition to many of their most famous and infamous storybook characters. At the helm of this malicious magnum opus is the Mythweaver himself who is using these authors and their characters to rewrite the history of Gnawnia! Arm yourself with an assortment of Draft Derby cheese, a powerful Forgotten trap, and a great deal of ingenuity before facing off against these verbose villains!
  </div>
  <div class="gallery">
    <div class="folklore-authors">
      <h2>Folklore Authors</h2>
      <img src="https://www.mousehuntgame.com/images/mice/large/135dd7dcb41940c30d872982675b5b89.jpg?cv=2" alt="hans-cheesetian-squeakersen">
      <img src="https://www.mousehuntgame.com/images/mice/large/f5f02c3f9017eeb2b0f7d2e327a351b9.jpg?cv=2" alt="brothers-grimmaus">
      <img src="https://www.mousehuntgame.com/images/mice/large/fde197a7e247c33f23e36df336e0284f.jpg?cv=2" alt="madame-d'ormouse">
      <img src="https://www.mousehuntgame.com/images/mice/large/0c73002ecd03897731918f3906ec65e5.jpg?cv=2" alt="matriarch-gander">
    </div>
    <div class="folklore-characters">
      <h2>Folklore Characters</h2>
      <img src="https://www.mousehuntgame.com/images/mice/large/65f7cdba7073dad67292bfd2e2a4a611.jpg?cv=2" alt="little-miss-fluffet">
      <img src="https://www.mousehuntgame.com/images/mice/large/7546fc30816028928eba6cc5113bf462.jpg?cv=2" alt="humphrey-dumphrey">
      <img src="https://www.mousehuntgame.com/images/mice/large/c47561f0cb754a4e44db7855cf6d6dd9.jpg?cv=2" alt="little-bo-squeak">
      <img src="https://www.mousehuntgame.com/images/mice/large/6f1d1042063e71c70d81c50227ad2fd7.jpg?cv=2" alt="princess-and-the-olive">
      <img src="https://www.mousehuntgame.com/images/mice/large/aa2ad00f4bf0fe41b24c85958e798925.jpg?cv=2" alt="pinkielina">
      <img src="https://www.mousehuntgame.com/images/mice/large/84e0e1ee0acfd496463f410b9302eebe.jpg?cv=2" alt="fibbocchio">
      <img src="https://www.mousehuntgame.com/images/mice/large/b7d15acdd8b6e6b47644da982c027e23.jpg?cv=2" alt="greenbeard">
      <img src="https://www.mousehuntgame.com/images/mice/large/6e71207a10639fc5630eb0858470e2ab.jpg?cv=2" alt="flamboyant-flautist">
      <img src="https://www.mousehuntgame.com/images/mice/large/8e703a7c3d1f34f16d784fcef1325f95.jpg?cv=2" alt="ice-regent">
    </div>
    <div class="folklore-masterminds">
      <h2>Folklore Masterminds</h2>
      <div class="mouse-container" id="indiv-mouse">
        <a href="/bitter-grammarian">
          <img class="mouse-img" id="mouse-img" src="https://www.mousehuntgame.com/images/mice/large/e84781c8b166c10626458e541a0c004a.jpg?cv=2" alt="bitter-grammarian">
        </a>
        <div class="mouse-name" id="mouse-name">
          Bitter Grammarian<br>
          <img class="power-type" src="https://www.mousehuntgame.com/images/powertypes/forgotten.png">
        </div>
      </div>
      <div class="mouse-container" id="indiv-mouse">
        <img class="mouse-img" id="mouse-img" src="https://www.mousehuntgame.com/images/mice/large/220133f014c67b04efd6277e414b9f26.jpg?cv=2" alt="mythweaver">
        <a href="/mythweaver">
          <div class="mouse-name" id="mouse-name">
            Mythweaver<br>
            <img class="power-type" src="https://www.mousehuntgame.com/images/powertypes/forgotten.png">
          </div>
        </a>
      </div>
    </div>
  </div>

{% endblock %}